@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.playpen-sans-<uniquifier> {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    max-width: 1600px;
    margin: auto;
}

h1 {
    color: #203959;
    font-family: "Playpen Sans", cursive;
    text-align: center;
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
 max-width: 1600px;
    margin: auto;
}

p {
    font-size: 40px;
    margin: 40px;
    text-align: center;
    line-height: 1.5;
}

.nav {
    text-align: center;
}
.nav a {
    font-size: 40px;
    margin: 40px;
    line-height: 1.5;

}
